
:root{
    --purple:#814096;
    --pink:#F83292;
    --gradient:linear-gradient(90deg, var(--purple), var(--pink));
}

.modal{
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(77,77,77,0.7);
    transition:all 0.4s;
    visibility: hidden;
    /* filter: blur(1px); */
    opacity: 0;
}

.modal:target{
    visibility: visible;
    opacity: 1;
}
.new{
    color:white;
}
.modalcontent{
    position:relative;
    background: #0005;
    width: 500px;
    max-width: 90%;
    padding:2rem 2rem;
    border-radius: 4px;
    padding-top:9rem;
    z-index: 5;
}
.modalclose{
    position:absolute;
    top: 0;
    right: 15px;
    color:var(--pink);
    font-size:5rem;
    text-decoration: none;
    /* padding-bottom:4rem; */
}

.modalcontent .btn{
    display:flex;
    justify-content:center;
    text-align: center;
    align-items:center;
    padding:1rem 1rem;
    margin-top:1.5rem;
    background: #0002;
}



max input{
    border-top:0;
    border-left:0;
}